@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
/* *{
    background-color: #EDF1F5;
} */
.container_for_home_splide{
    margin: 30px;
   /* background-color: #ececec; */
   
}
img{
    width: 250px;
    height: 220px;
}
.sub_head{
display: flex;

}
.sub_head_title{
    font-family: 'Nunito Sans', sans-serif;
    margin:10px 10px 10px 50px;
    font-size: 40px;
    color: #c9c6c6;
}
.sec_Container{
    display: flex;
    flex-wrap: wrap;
}