@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    box-sizing: border-box;
  }
  .logo{
    font-family: 'Pacifico', cursive;
    background-color: #ffffff;
  }
  body {
    
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .nav-col {
      background-color: #ffffff;
    float: left;
    width: 33.33%;
    padding: 10px;
   
  }
 
  /* Clear floats after the columns */
  .nav-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .nav {
   
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  
  .nav > .nav-header {

    display: flex;
    justify-content: center;
  }
  .nav-social{
    display: inline; 
    background-color: #ffffff;
  }
  .nav-socilicon{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    color: black;
    background-color: #ffffff;
    padding: 10px 10px 10px 30px;

  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 25px;
    color: black;
    background-color: #ffffff;
    padding: 5px 10px 5px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: flex;
    justify-content: space-evenly;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > li {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
  }
  
  .nav > .nav-links > li:hover {
    color: #4A89DC;
    cursor: pointer;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav-socilicon{
        display: flex;
        justify-content: space-around;
    }
    .nav > .nav-btn {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      background-color: #ffffff;
      right: 0px;
      top: 0px;
    }
    .svg-inline--fa  {
        margin-right: 20px;
    }
   
    .nav > .nav-btn > label {
        background-color: #ffffff;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgb(255, 255, 255);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      background-color: #ffffff;
      border-top: 3px solid #4A89DC;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > li {
      display: block;
      width: 100%;
    
    }
   
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
   
    }
    .nav > #nav-check:checked ~ .nav-links {
     
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
   
  }