@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');
* {
    font-family: 'Nunito Sans', sans-serif;
  }
.miniCards_container{
    margin: 15px;
    width: 300px;
   height: fit-content;
   background-color: #ffffff;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.miniCards_title{
    font-size: 20px;
    font-weight: 800;
    margin: 15px;
    margin-top: 15px !important;
    padding-top: 15px;

}
.mini_sec_cont{
    display: flex;
    margin: 15px;
    margin-bottom: 0px;
 
}
.btn_cont{
    margin-top: 10px;
}
.mini_event_data{
    margin-right: 40px;
    color: #34aff7;
}
.mini_event_participants{

    color: #34aff7;
}
.post_btn_minievent{
    margin: 15px;
    margin-top:0px;
    margin-right:0px;
    padding: 5px 15px 5px 15px;
    border: none;
    color: #ffffff;
    background-color: #2ECC71;
    border-radius: 30px;
}
.post_btn_minievent:hover{
    cursor: pointer;
    background-color: #19743f;
}
.uppost_btn_minievent{
    margin: 15px;
    margin-top:0px;
    padding: 5px 30px 5px 30px;
    border: none;
    color: #ffffff;
    background-color: #E8BD0D;
    border-radius: 50px;


}
.uppost_btn_minievent:hover{
    cursor: pointer;
    color: #ffffff;
    background-color: #DDD101;
}
.edpost_btn_minievent{
    margin: 15px;
    margin-top:0px;
    padding: 5px 15px 5px 15px;
    border: none;
    color: #ffffff;
    background-color: #34aff7;
    border-radius: 50px;
    width: 200px;
}
.delpost_btn_minievent{
    border: none;
    color: #ffffff;
    background-color: #D82E2F;
    width: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
}
.delpost_btn_minievent:hover{
cursor: pointer;
}
.edpost_btn_minievent:hover{
    cursor: pointer;
}
@media (max-width:600px) {
/* code fo rresponsive TODo */
}